@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-b;
  font-family: "Quicksand", system-ui;
  font-style: normal;
}

.no-select {
  user-select: none; /* Standard */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ */
}

.Dropdown-liClasses {
  @apply flex items-center gap-x-1.5  hover:bg-d/10 p-2 w-full rounded-lg text-d;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
